<!DOCTYPE html>
<html>
  {% load static %} {% load staticfiles %}
<head>
	{% block heading %}
	<meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %} {{ title }}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/penugasan.css' %}" />

    {% endblock heading %}
</head>
<body onload="getOrientation()" onresize="getOrientation()">
	<header>
      <nav id="navbar" class="navbar fixed-top navbar-expand-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/acara/">Acara</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/penugasan/">Penugasan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sepeda/">Sepeda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/voucher/">Voucher</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/eminjaman/">Peminjaman</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="content">{% block content %} {% endblock content %}</div>
</body>
</html>